@font-face{
    font-family: 'Willow';
    src: url(./assets/Tipography/Willow/WILLOW__.TTF);
}
:root{
    --primaryColor: #6B00AF;
    --secondaryColor: #270040;
    --W00: #ffffff;
    --W01: #E0E0E0;
    --W02: #C2C2C2;
    --B02: #3D3D3D;
    --B01: #1F1F1F;
    --B00: #000000;

    --primaryFont: 'Griffy', cursive;
    --secondaryFont: 'Willow', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.font1-L{
    font-family: var(--primaryFont);
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
}
.font1-M{
    font-family: var(--primaryFont);
    font-size: 30px;
    line-height: 1.4;
    font-weight: 400;
}
.font1-S{
    font-family: var(--primaryFont);
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
}
.font2-XL{
    font-family: var(--secondaryFont);
    font-size: 72px;
    line-height: .8;
    font-weight: 400;
}
.font2-L{
    font-family: var(--secondaryFont);
    font-size: 36px;
    line-height: .8;
    font-weight: 400;
}
.font2-M{
    font-family: var(--secondaryFont);
    font-size: 28px;
    line-height: 1;
    font-weight: 400;
}
.font2-S{
    font-family: var(--secondaryFont);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}
body{
    width: 100vw;
    height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 320px;
    height: 480px;
    background: #ffffff;
}
.containerBg{
    width: 100%;
    height: calc(100% - 80px);
    background-image: url(../assets/Images/Characters/backgroudSmall.png);
    background-position: center center;
    background-size: cover;
    position: relative;
}
.textContainer{
    width: 22ch;
    position: relative;
    top: 10px;
    left: 115px;
}
.textContainer h1{
    text-align: center;
}
.textContainer h2{
    position: absolute;
    bottom: -10px;
    right: 0px;
}
.text-align{
    width: 13ch;
}
.dateContainer{
    width: fit-content;
    padding: 5px 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--W00);
    text-align: center;
    background-color: var(--B00);
    opacity: .7;
}
.flexContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}
.jack{
    position: absolute;
    bottom: 0;
    left: 0;
}
/* nav */
.navibar{
    background: linear-gradient( #000, var(--primaryColor));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.navibar a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #000000, inset 5px 5px 5px #6B00AF;
    transition: .3s;
}
.navibar a:hover{
    transform: scale(1.2);
}
